<template>
    <div>
        <div class="card-body" v-if="! user">
            <div class="form-group row">
                <label for="email" class="col-md-4 col-form-label text-md-right">{{ trans('auth.email') }}</label>

                <div class="col-md-6">
                    <input id="email"
                           type="email"
                           class="form-control"
                           v-bind:class="{ 'is-invalid': errors.email }"
                           name="email"
                           v-model="email"
                           required
                           autocomplete="email"
                           autofocus>

                    <span class="invalid-feedback" v-for="error in errors.email">
                    <strong>{{ error }}</strong>
                </span>
                </div>
            </div>

            <div class="form-group row">
                <label for="password"
                       class="col-md-4 col-form-label text-md-right">{{ trans('auth.password') }}</label>

                <div class="col-md-6">
                    <input id="password"
                           v-model="password"
                           v-bind:class="{ 'is-invalid': errors.password }"
                           type="password"
                           class="form-control"
                           name="password"
                           required
                           autocomplete="current-password">


                <span class="invalid-feedback" role="alert" v-for="error in errors.password">
                    <strong>{{ error }}</strong>
                </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               name="remember"
                               v-model="remember"
                               id="remember">

                        <label class="form-check-label" for="remember">
                            {{ trans('auth.remember') }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary" v-on:click="login">
                        Login
                    </button>

                </div>
            </div>
        </div>
        <div v-else>{{ trans('auth.authorized') }}. <a class="btn btn-light" v-on:click="logout">{{ trans('auth.logout') }}</a></div>
        <notifications />
    </div>
</template>
<script>
    export default {
        data() {
            return {
                email: null,
                password: null,
                remember: false,
                errors: []
            }
        },

        methods: {
            login() {
                this.$store.dispatch('login', {
                    email: this.email,
                    password: this.password,
                    remember: this.remember
                })
                    .then( (response) => {

                        this.notifySuccess(this.trans('auth.authorized'));
                        this.refreshCsrfTokens();
                        this.setApiToken();
                    })
                    .catch( (error) => {
                        this.errors = error.response.data.errors;
                    });
            },

            logout() {
                this.$store.dispatch('logout').then( (response) => {
                    this.notifySuccess(this.trans('auth.unauthorized'));
                    this.refreshCsrfTokens();
                    this.resetApiToken();
                }).catch( (error) => {

                    this.notifyError(error.response.data.errors.message);
                });

            },

            notify(type, title, msg) {
                this.$notify({
                    type: type || 'warn',
                    title: title,
                    text: msg
                });
            },

            notifyError(title, msg) {
                this.notify('error', title, msg);
            },

            notifySuccess(title, msg) {
                this.notify('success', title, msg);
            },

            setApiToken() {
                window.axios.defaults.headers.common['Authorization'] = `Bearer ${this.user.api_token}`;
            },

            resetApiToken() {
                delete window.axios.defaults.headers.common['Authorization'];
            },

            refreshCsrfTokens() {
                return new Promise(function (resolve, reject) {
                    axios.get('/refresh-csrf-token')
                         .then( (response) => {
                             let csrfToken = response.data.csrfToken;

                             application.csrf_token = csrfToken;
                             axios.defaults.headers.common['X-CSRF-TOKEN'] = csrfToken;
                             document.querySelector('meta[name=csrf-token]').setAttribute('content', csrfToken);

                             resolve(response);
                         })
                         .catch( (error) => {
                             reject(error)
                         })
                });
            },

            clearErrors() {
                this.errors = [];
            },

            clearErrorsByKey(key) {
                if (key in this.errors)
                    delete this.errors[key];
            }
        },

        watch: {
            email: function (val, oldVal) {
                this.clearErrors();
            },
            password: function (val, oldVal) {
                this.clearErrors();
            },
        },

        computed: {
            user: function () {
                return this.$store.getters.user;
            }
        },
    }
</script>
