<template>
    <div>
        <div class="card-body" v-if="!user">
            <div class="form-group">
                <label for="email">{{ trans('auth.email') }}</label>
                <input type="email"
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors.email }"
                       @change="clearErrorsByKey('email')"
                       id="email"
                       v-model="registration.email"
                       placeholder="name@example.com">

                <span class="invalid-feedback" role="alert" v-for="error in errors.email">
                    <strong>{{ error }}</strong>
                </span>
            </div>

            <div class="form-group">
                <label for="name">{{ trans('auth.name') }}</label>
                <input type="text"
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors.email }"

                       v-model="registration.name"
                       id="name">
                <span class="invalid-feedback" role="alert" v-for="error in errors.name">
                    <strong>{{ error }}</strong>
                </span>
            </div>

            <div class="form-group">
                <label for="password">{{ trans('auth.password') }}</label>
                <input type="text"
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors.password }"

                       v-model="registration.password"
                       id="password">
                <span class="invalid-feedback" role="alert" v-for="error in errors.password">
                    <strong>{{ error }}</strong>
                </span>
            </div>

            <div class="form-group">
                <label for="password_confirmation">{{ trans('auth.password_confirmation') }}</label>
                <input type="text"
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors.password_confirmation }"

                       v-model="registration.password_confirmation"
                       id="password_confirmation">

                <span class="invalid-feedback" role="alert" v-for="error in errors.password_confirmation">
                    <strong>{{ error }}</strong>
                </span>

            </div>

            <div class="form-group">
                <label for="type">State</label>
                <select id="type" class="form-control"
                        v-bind:class="{ 'is-invalid': errors.type_id }"

                        v-model="registration.type_id">
                    <option v-for="type in types" :value="type.id">{{ type.title}}</option>
                </select>
                <span class="invalid-feedback" role="alert" v-for="error in errors.type_id">
                    <strong>{{ error }}</strong>
                </span>
            </div>

            <button type="button"
                    class="btn btn-primary"
                    v-on:click="register">{{ trans('auth.registration') }}</button>
        </div>

        <div v-else>{{ trans('auth.authorized') }}.
            <a class="btn btn-light"
               v-on:click="logout">{{ trans('auth.logout') }}</a></div>

        <notifications />
    </div>
</template>
<script>
    export default {
        data() {
            return {
                registration: {
                    email: null,
                    name: null,
                    password: null,
                    password_confirmation: null,
                    type_id: null
                },

                remember: false,
                errors: [],
                types: []
            }
        },

        methods: {

            register() {
                this.$store.dispatch('register', this.registration)
                    .then(function (response) {
                        this.notifySuccess(this.trans('auth.authorized'));
                        this.refreshCsrfTokens();
                    })
                    .catch((error) => {
                        this.notifyError(error.response.data.errors.message);
                        this.errors = error.response.data.errors;
                        this.refreshCsrfTokens()
                    })
            },

            logout() {
                this.$store.state.dispatch('logout');
            },

            notify(type, title, msg) {
                this.$notify({
                    type: type || 'warn',
                    title: title,
                    text: msg
                });
            },

            notifyError(title, msg) {
                this.notify('error', title, msg);
            },

            notifySuccess(title, msg) {
                this.notify('success', title, msg);
            },

            refreshCsrfTokens() {
                return new Promise(function (resolve, reject) {
                    axios.get('/refresh-csrf-token')
                         .then( (response) => {
                             let csrfToken = response.data.csrfToken;

                             application.csrf_token = csrfToken;
                             axios.defaults.headers.common['X-CSRF-TOKEN'] = csrfToken;
                             document.querySelector('meta[name=csrf-token]').setAttribute('content', csrfToken);

                             resolve(response);
                         })
                         .catch( (error) => {
                             reject(error)
                         })
                });
            },

            loadUserTypes() {
                axios.get('/user-types')
                    .then( (response) => {
                        this.types = response.data;
                    })
            },

            clearErrors() {
                this.errors = [];
            },

            clearErrorsByKey(key) {
                if (key in this.errors)
                    delete this.errors[key];
            }
        },

        mounted: function () {
            this.loadUserTypes();
        },

        computed: {
            user() {
                return this.$store.state.user;
            }
        }
    }
</script>
