<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <locale-switcher></locale-switcher>
                    <li class="nav-item" v-for="link in links" v-if="link.show">
                        <router-link class="nav-link" :to="link.to">{{ trans(`menus.${link.lang}`) }}</router-link>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>
<script>

    import LocaleSwitcher from './parts/LocaleSwitcherComponent';

    export default {
        components: {
            'locale-switcher': LocaleSwitcher
        },

        data() {
            return {
                links: [
                    {
                        show: true,
                        lang: 'home',
                        to: { name: 'home' },
                    },
                    {
                        show: true,
                        lang: 'my_adverts',
                        to: { name: 'advert.personal.list' },
                    },
                    {
                        show: true,
                        lang: 'create_advert',
                        to: { name: 'advert.create' },
                    },
                    {
                        show: true,
                        lang: 'login_logout',
                        to: { name: 'auth' }
                    },
                    {
                        show: true,
                        lang: 'register',
                        to: { name: 'register' },
                    }
                ]
            }
        },

        methods: {
        },
        computed: {
            user: function () {
                return this.$store.getters.user;
            }
        },
    }
</script>
