<template>
    <div>

    </div>
</template>
<script>
    export default {
        data() {
            return {
                advert: null,
                categories: [],
                countries: [],
                locales: [],
                cities: [],
                errors: [],
                user: null,
                createdAdvert: null
            }
        },

        methods: {

            loadAdvert() {
                axios.get('/api/adverts/' + this.$route.params.id)
                    .then( (response) => {
                        console.log(response.data);
                    })
                    .catch( (error) => {
                        console.log(error.response.data);
                    })
            },

            loadCountries() {

                axios.get('/countries')
                     .then((response) => {
                         this.countries = response.data;
                     })
            },

            loadCities($event) {

                let country = $event.target.value;

                if (!country) {
                    this.cities = [];
                    return;
                }

                axios.get('/country/' + $event.target.value + '/cities')
                     .then((response) => {
                         this.cities = response.data;
                     })
            },

            loadLocales() {

                axios.get('/locales')
                     .then((response) => {
                         this.locales = response.data;
                     });
            },

            loadCategories() {

                axios.get('/categories')
                     .then((response) => {
                         this.categories = response.data;
                     });
            },

            setUser() {
                this.user = application.user;
            },

            submit() {

                axios.post('/api/adverts', this.advert)
                    .then( (response) => {
                        this.createdAdvert = response.data.advert;
                    })
                    .catch( (error) => {
                        this.errors = error.response.data;
                        this.createdAdvert = null;
                    });
            }
        },
        mounted: function () {

            this.loadLocales();
            this.loadCategories();
            this.loadCountries();
            this.setUser();
            this.loadAdvert();
        }
    }
</script>
