<template>
    <div>
        <div class="row">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    countries
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                       @click="loadCities(country.slug)"
                       href="javascript:void(0)"
                       v-for="country in countries">{{ country.title }}</a>
                </div>
            </div>
            <div class="dropdown" v-if="cities.length">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    cities
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                       @click="loadCities(city.slug)"
                       href="javascript:void(0)"
                       v-for="city in cities">{{ city.title }}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-3 ml-1 mb-1" v-for="advert in adverts">
                <div class="card-body">
                    <h5 class="card-title">{{ advert.title }}</h5>
                    <small class="text-muted">{{ advert.city.title }}</small>
                    <small class="text-muted">{{ advert.category.title }}</small>
                    <p class="card-text">{{ advert.content }}</p>
                    <router-link class="btn btn-primary"
                                 v-if="user && advert.user_id == user.id"
                                 :to="{ name: 'advert.edit', params: { id: advert.id } }">
                        {{ trans('advert.edit') }}
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                adverts: [],
                countries: [],
                cities: [],
                currentCountry: null,
                currentCity: null,
            }
        },

        methods: {
            loadAdverts() {
                axios.get('/adverts/all')
                     .then( (response) => {
                         this.adverts = response.data;
                     });
            },

            loadCountries() {
                axios.get('/countries')
                     .then((response) => {
                         this.countries = response.data;
                     })
            },

            loadCities(country) {

                axios.get('/country/' + country + '/cities')
                     .then((response) => {
                         this.cities = response.data;
                     })
            },
        },
        mounted: function () {

            this.loadAdverts();
            this.loadCountries();
        },

        computed: {
            user() {
                return this.$store.state.user;
            }
        }
    }
</script>
