<template>
    <div>

        <div v-if="errors.length">
            <span class="invalid-feedback">
                <strong>{{ errors.message }}</strong>
            </span>
        </div>
        <div v-if="user">
            <div class="form-group" v-for="locale in locales">
                <label :for="locale.id + '-title'">{{ trans('advert.title') }} ({{ locale.id }})</label>
                <input type="email"
                       v-model="advert.localizations[locale.id].title"
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors[`localizations.${locale.id}.title`] }"
                       :id="locale.id + '-title'">

                <span class="invalid-feedback" v-for="error in errors[`localizations.${locale.id}.title`]">
                    <strong>{{ error }}</strong>
                </span>
            </div>

            <div class="form-group" v-if="categories.length">
                <label for="categories">{{ trans('advert.categories') }}</label>
                <select class="form-control"
                        v-bind:class="{ 'is-invalid': errors.category_id }"
                        id="categories" v-model="advert.category_id">
                    <option :value="category.id" v-for="category in categories">{{ category.title }}</option>
                </select>

                <span class="invalid-feedback" v-for="error in errors.category_id">
                    <strong>{{ error }}</strong>
                </span>
            </div>

            <div class="form-group" v-if="countries.length">
                <label for="countries">{{ trans('advert.countries') }}</label>
                <select class="form-control" id="countries" @change="loadCities($event)">
                    <option value=""></option>
                    <option :value="country.slug" v-for="country in countries">{{ country.title }}</option>
                </select>
            </div>

            <div class="form-group" v-if="cities.length">
                <label for="cities">{{ trans('advert.cities') }}</label>
                <select class="form-control"
                        v-bind:class="{ 'is-invalid': errors.city_id }"
                        id="cities" v-model="advert.city_id">
                    <option :value="city.id" v-for="city in cities">{{ city.title }}</option>
                </select>

                <span class="invalid-feedback" v-for="error in errors.city_id">
                    <strong>{{ error }}</strong>
                </span>
            </div>

            <div class="form-group" v-for="locale in locales">
                <label :for="locale.id + '-content'">{{ trans('advert.content') }} ({{ locale.id }})</label>
                <textarea class="form-control"
                          v-bind:class="{ 'is-invalid': errors[`localizations.${locale.id}.content`] }"
                          v-model="advert.localizations[locale.id].content"
                          :id="locale.id + '-content'" rows="5"></textarea>
                <span class="invalid-feedback" v-for="error in errors[`localizations.${locale.id}.content`]">
                    <strong>{{ error }}</strong>
                </span>
            </div>
            <button type="button" v-on:click="submit" class="btn btn-primary mb-2">{{ trans('advert.submit') }}</button>
        </div>
        <div v-else>{{ trans('auth.need_auth') }}</div>

        <notifications />
    </div>
</template>
<script>
    export default {
        data() {
            return {
                advert: {
                    localizations: {
                        ru: {
                            title: null,
                            content: null,
                        },
                        en: {
                            title: null,
                            content: null
                        },
                    },
                    city_id: null,
                    category_id: null
                },
                categories: [],
                countries: [],
                locales: [],
                cities: [],
                errors: [],
                createdAdvert: null
            }
        },

        methods: {
            loadCountries() {

                axios.get('/countries')
                     .then((response) => {
                         this.countries = response.data;
                     })
            },

            loadCities($event) {

                let country = $event.target.value;

                if (!country) {
                    this.cities = [];
                    return;
                }

                axios.get('/country/' + $event.target.value + '/cities')
                     .then((response) => {
                         this.cities = response.data;
                     })
            },

            loadLocales() {

                axios.get('/locales')
                     .then((response) => {
                         this.locales = response.data;
                     });
            },

            loadCategories() {

                axios.get('/categories')
                     .then((response) => {
                         this.categories = response.data;
                     });
            },

            submit() {

                axios.post('/api/adverts', this.advert)
                    .then( (response) => {
                        this.createdAdvert = response.data.advert;
                        this.notifySuccess(this.trans('advert.created_desc'));
                    })
                    .catch( (error) => {
                        this.errors = error.response.data.errors;
                        this.createdAdvert = null;
                        this.notifyError(error.response.data.message);
                    });
            },

            notify(type, title, msg) {
                this.$notify({
                    type: type || 'warn',
                    title: title,
                    text: msg
                });
            },

            notifyError(title, msg) {
                this.notify('error', title, msg);
            },

            notifySuccess(title, msg) {
                this.notify('success', title, msg);
            },
        },
        mounted: function () {

            this.loadLocales();
            this.loadCategories();
            this.loadCountries();
        },

        computed: {
            user() {
                return this.$store.state.user;
            }
        }
    }
</script>
