<template>
    <div>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ trans('advert.countries') }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item"
                        @click="selectCountry(country.slug)"
                        type="button"
                        v-for="country in countries">{{ country.title }}</button>
            </div>
        </div>

        <div class="btn-group" v-if="cities.length">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ trans('advert.cities') }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item"
                        @click="selectCity(city.slug)"
                        type="button" v-for="city in cities">{{ city.title }}</button>
            </div>
        </div>

        <div class="row">
            <div class="card col-md-3 ml-1 mb-1" v-for="advert in adverts">
                <div class="card-body">
                    <h5 class="card-title">{{ advert.title }}</h5>
                    <small class="text-muted">{{ advert.city.title }}</small>
                    <small class="text-muted">{{ advert.category.title }}</small>
                    <p class="card-text">{{ advert.content }}</p>
                    <router-link class="btn btn-primary"
                                 v-if="user && advert.user_id == user.id"
                                 :to="{ name: 'advert.edit', params: { id: advert.id } }">
                        {{ trans('advert.edit') }}
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                adverts: [],
                countries: [],
                cities: [],
            }
        },

        methods: {
            loadAdverts() {

                let filter = {};

                let currentCountry = this.$router.currentRoute.params.country;
                if ( currentCountry ) {
                    filter.country = currentCountry;
                }

                let currentCity = this.$router.currentRoute.params.city;
                if ( currentCity ) {
                    filter.city = currentCity;
                }

                console.log(filter);

                axios.get('/adverts/all', {
                    params: filter
                })
                    .then( (response) => {
                        this.adverts = response.data;
                    });
            },

            loadCountries() {

                axios.get('/countries')
                     .then((response) => {
                         this.countries = response.data;
                     }).catch( (error) => {
                         alert(error.response.data.message)
                })
            },

            loadCities(country) {

                axios.get('/country/' + country + '/cities')
                     .then((response) => {
                         this.cities = response.data;
                     });
            },

            selectCountry(country) {
                this.$router.push('/'.concat(country));
                this.loadAdverts();
                this.loadCities(country);

            },
            selectCity(city) {

                let route = this.$router.resolve({
                    name: 'home',
                    params: { country: this.$route.params.country, city: city },
                });

                this.$router.push(route.href);
                this.loadAdverts();
            }
        },
        mounted: function () {

            this.loadCountries();

            let currentCountry = this.$router.currentRoute.params.country;
            if ( currentCountry ) {
                this.loadCities(currentCountry);
            }

            this.loadAdverts();
        },

        computed: {
            user() {
                return this.$store.state.user;
            }
        }
    }
</script>
