<template>
    <div class="row" v-if="user">
        <div class="card col-md-3 ml-1 mb-1" v-for="advert in adverts">
            <div class="card-body">
                <h5 class="card-title">{{ advert.title }}</h5>
                <small class="text-muted">{{ advert.city.title }}</small>
                <small class="text-muted">{{ advert.category.title }}</small>
                <p class="card-text">{{ advert.content }}</p>
                <router-link class="btn btn-primary" :to="{ name: 'advert.edit', params: { id: advert.id } }">
                    {{ trans('advert.edit') }}
                </router-link>
            </div>
        </div>
        <div v-if="! adverts.length">
            <p><router-link class="nav-link" :to="{ name: 'advert.create' }">{{ trans('advert.create') }}</router-link></p>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                adverts: []
            }
        },

        methods: {
            loadAdverts() {
                axios.get('/api/personal/adverts')
                    .then( (response) => {
                        this.adverts = response.data;
                    });
            }
        },
        mounted: function () {
            this.loadAdverts();
        },

        computed: {
            user() {
                return this.$store.state.user;
            }
        }
    }
</script>
