<template>
    <div>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-toggle="dropdown"
               href="#"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">{{ currentLocale }}</a>
            <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="javascript:void(0);" v-for="locale in locales"
                   @click="setLocale(locale.id)">{{ locale.id }}</a>
            </div>
        </li>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                locales: [],
                currentLocale: null
            }
        },
        methods: {
            loadLocales() {
                axios.get('/locales/switcher')
                     .then((response) => {
                         this.locales = response.data;
                     });
            },

            setLocale(locale) {
                axios.post('/set-locale/'.concat(locale))
                    .then( (response) => {
                        this.$router.go('/');
                    });
            },
        },
        mounted: function () {
            this.loadLocales();

            this.currentLocale = window.application.system_locale;
        }

    }
</script>
